body {
	background-color: #000000;
}

.demo {
	display: grid;
	grid-template-columns: repeat(4,auto);
	grid-template-rows: repeat(4,auto);
}

.special {
	grid-row: 3 / span 3;
	grid-column: 3 / span 2;
}
img {
	height: 10px;
	width: 10px;
}